
body{
  font-family: 'Slabo 27px', serif;
}



/* WELCOME */
 .welcome-text{
   font-size: 12rem;
   background-color: #ff6517;
   color: #ffffff;
 }

 .animated{
   color: #ffffff;
   font-size: 10rem;
   text-align: center;
 }

 .welcome-box{
   background-color:#ff6517;
   padding: 5% 0 5% 0;
   margin: 0;
   height: 100vh;
 }


 @media (max-width: 768px) {
  .welcome-text {
    font-size: 9rem;
    margin-top: 25%;
  }
  .animated {
    font-size: 6rem;
  }
}


@media (max-width: 475px){
  .welcome-text{
    font-size: 6rem;
    margin-top: 50%;
  }
  .animated{
    font-size: 3rem;
  }
}

 /* WELCOME */


 /* NAVCARD */



 #darkBackgroundCard{
   background: gray;
   padding: 5%;
 }

  #background-card{
    padding: 5%;
    height: 100vh;

 }

 #header-box{
   justify-content: space-between;

   }

 @media (max-width: 865px){
  h1.display-4{
    font-size: 2.7rem;

  }
 

 }

 
 .nav-bar {
  justify-content: space-between;
  box-shadow: none;
  align-items: flex-start;
  flex-direction: column;

 }

 .nav-link.Ripple-parent{
  font-size: 1.3rem;
  color: inherit;
 }

 .dark-nav-link {
   color: #d9d9d9
 }


 .active{
   color:#ff6517 !important
 }

 #nav-card {
   margin: 0% auto;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
   min-height: 950px;
 }

 .dark-nav-card{
  background-color: #3d3d3d;
  color:#d9d9d9
 }

 .svg-card{ 
   position:absolute;
   right: 0;
   width: 30%;
   height: 50rem;
   stroke-width: 2px;
   stroke: #000000;
   filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
 }

 .dark-svg-card{
   stroke:#d9d9d9 ;
 }

 @media (max-width:1199px){
   .svg-card{
     display: none;
   }
 }

 #toggle-theme{
   align-self: center;
   font-size: 1.2rem;
   cursor: pointer;
 }

 /* CONTENTCARD */


 /* ABOUT */

 #about{
   font-size: 1.15rem;
   margin: 5% 0 ;
 }

  /* ABOUT */


 /* CV */
 iframe.cv{
   width: inherit;
   height: 600px;
 }

  /* CV */


  /* PROJETCS */
  #portfolio {
    margin: 5% 0;
    
  }


  @media (min-width:832px) {
    #card-group {
     display:flex;
     flex-flow:row wrap
    }
   } 

   div.card {
     background: inherit;
     margin-right: 1%;
     }


     p.card-text{
       height: 8rem;
     }

     div.card button a {
       color: inherit;
     }
   /* PROJECTS */


   /* CONTACT */
   #contact{
     margin: 5% 0  ;
   }


   #contact ul li a {
     font-size: 3rem;
     color: inherit;
     border: solid 1px black;
     padding: 1rem;
     border-color: inherit;
   }
   #contact ul li{
     list-style: none;
   }

   #contact ul{
     display: flex;
     justify-content: space-around;
   }


   /* CONTACT */



